<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>MAG Homeo and Herbal Remedies is a company and an initative started by Dr. Manish Goyal to deliver the best homeopathic 
           treatment and medicines that one can get </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a solo practioner looking to recommend medicines, rem Ipsum is that it has a more-or-less normal 
           distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
           Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
