<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Bestselling Products</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% assign featured_posts = site.posts | where:"featured", true %}
      {% for post in featured_posts %}
        <div class="portfolio-flex-item portfolio-item">
          <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<div style="display: flex; justify-content: center; margin-top: 1px; margin-bottom: 50px;">
  <a href="all_products.html">
  <button id="viewAllButton" class="btn btn-primary" style="padding: 10px 27px; font-size: 22px;">
  View All</button></a>
</div>